body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
nav {
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner {
  background-color: rgba(150, 150, 150,0.7);
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.8nKpTNL2k_6eJUVbQnJVpgHaJ4?r=0&pid=Api);

  position: relative;
}
.bannerIMG{
  filter: blur(8px) brightness(30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  min-height: 600px;
  position: absolute;
}
#bannerinfo{
  position: absolute;
  background-color: rgba(124, 124, 124, 0.5);
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.carosoul {
  background-color: brown;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.card1 {
  width: 300px;
  height: 300px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  padding: 0px;
}
.card1 .card1img {
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.8nKpTNL2k_6eJUVbQnJVpgHaJ4?r=0&pid=Api);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 200px;
  height: 300px;
  border-radius: 16px;
  background-color: blue;
}

.posterIMG{
    background-image: url("../ostsfandy2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  width: 300px;
  height: 400px;
}
#infoBox{
  color: aliceblue;
  height: 400px;
  width: 70%;
}
#creators{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.creator{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.creator p{
    margin: 8px;
}